<h2>Your contacts:</h2>
<ul class="contacts">
  <li *ngFor="let contact of contacts">
    <span class='contact'>{{contact.name}} <button (click)="removeContact(contact)">Remove</button></span>
  </li>
</ul>
<input #newContact type="text" placeholder="Contact Name"/>
<button (click)="addContact({name: newContact.value})">Add Contact</button>
<br/>
<button (click)="undo()">Undo</button>
<button (click)="redo()">Redo</button>
  

